.container{
    padding: 0 30px;
}
.my-navbar{
    padding: 30px;
    background-color: rgb(0 0 0 / 70%);
}

.p-banner{
    background: url("resources/images/bg.PNG") center center/ cover no-repeat;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-bottom: 50px;
}

.p-banner .container .p-content .btn{
    padding: 10px 20px;
}

.col-lg-6{
    padding: 0 30px;
}


